<h1><%= current_user.name %>'s Dashboard</h1>
<!-- add date? -->
<p>What do you want to do?</p>

<!-- add a PR  -->
<div class="">

</div>
<%# link_to "Add a PR", new_user_prs_path(current_user) %>

<!-- view PRs  -->
<%# link_to "View Your PRs", user_prs_path(current_user) %>

<!-- add an upcoming race  -->
<%# link_to "Add an Upcoming Race", new_race_path(current_user) %>

<!-- view past races  -->
<%# link_to "View Past Races", race_path(current_user) %>

<!-- Change Race Status -->
<%# link_to "Change Race Status", race_stats_path(current_user) %>
