<%= form_for pr do |f| %>
<div id="new-pr-form">
  <div class="">
    <%# f.label :name, "PR" %>
  </div>

  <div class="user-prs">
      <%= f.text_field :name, :class => "new-user-pr-name", :placeholder => (pr.errors.full_messages_for(:name).first || "Enter your PR") %>
  </div>

  <div class="">
    <div class="row">
      <%# f.label :description, "Description" %>
    </div>
  </div>

  <div class="user-prs">
      <%= f.text_area :description, :class => "new-user-pr-description", :placeholder => "Brag about your PR here! Ex. Where/when did this happen? Did anyone else see it happen? Can you still walk?" %>
  </div>

  <div class="row buttons">
    <%= f.submit %>
  </div>
  <% end %>
</div>
