<h3>Congratulations on Completing Your Race!</h3>
<h5>Clicking the link will move this race to Past Races <%# @stat.completion %> > <%= link_to "I Crushed This Race!", past_races_path(@race), data: { confirm: "Are you sure you crushed this race?" } %><br><br>Don't forget to update any new PRs!</h5>
